.authContainer{
    background-color: #ECEFF1;
    height: 100vh;
    width: 100vw;
    .authContainer-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        min-width: 450px;
        gap: 12px;
        background-color: white;
        padding: 80px 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.26);
        .authHeading{
            font-weight: bolder;
            padding: 10px;
            font-size: 26px;
            margin-bottom: 12px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 12px;
            .twoInputWrapper{
                display: flex;
                gap: 10px;
                flex: 1;
            }
        }
        .submitBtn{
            background-color: #ECB014;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border-radius: 10px;
            margin-top: 40px;
            height: 44px;
            /* overflow: hidden; */
            &:hover:not(& .loading){
                transform: scale(1.004);
                box-shadow: 0 0 20px rgba(128, 128, 128, 0.26);    
            }
            input{
                cursor: pointer;
                height: 100%;
                flex: 1;
            }
        }
    }
}
