.cardHeading {
  color: #64748b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.groups {
  p {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 4px;
  }
}

.streak {
  p {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 4px;
    color: #f97316;
  }
}

.statusActive {
  span {
    height: 10px;
    width: 10px;
    border-radius: 9999px;
    background-color: #22c55e;
    margin-right: 8px;
  }
  p {
    color: #00a63e;
    font-weight: 600;
  }
}
