.mainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 40px;
  flex: 1;
  overflow-y: scroll;
  height: 100%;
}

.wrapperSection {
  width: calc(100vw - 48px);
  height: calc(100vh - 140px);
  display: flex;
  gap: 20px;
  align-items: start;
  position: fixed;
  top: 130px;
}

.leaderBoard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.problemList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
