.ProblemEditor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f8fafc;
  color: #1e293b;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  border-bottom: 1px solid #e2e8f0;
  background: #ffffff;
  h1 {
    font-weight: 700;
    font-size: 20px;
  }
}

.buttons button {
  margin-left: 8px;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.run-btn {
  background-color: #22c55e;
  color: white;
}

.run-btn:hover {
  background-color: #16a34a;
}

.submit-btn {
  background-color: #facc15;
  color: #1e293b;
}

.submit-btn:hover {
  background-color: #eab308;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  width: 50%;
  border-right: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.tabs {
  display: flex;
  gap: 20px;
  padding: 12px 16px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 14px;
}

.tabs button {
  background: none;
  border: none;
  color: #64748b;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.tabs button:hover {
  color: #0f172a;
}

.tabs button.active {
  color: #6366f1;
}

.tabs button.active::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6366f1;
}

.content {
  padding: 18px;
  overflow-y: auto;
  line-height: 1.6;
  h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }
  h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 6px;
  }
}

.code-box {
  background-color: #f1f5f9;
  padding: 14px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  border: 1px solid #e2e8f0;
  font-family: monospace;
}

.writtenScreen {
  width: 50%;
  display: flex;
  flex-direction: column;

  background: #f5f5f5;
  color: #222;

  .code-header {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
  }

  textarea {
    width: 100%;
    height: 80px;
    background: #ffffff;
    color: #222;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .output-box {
    background: #ffffff;
    padding: 10px;
    min-height: 100px;
    border-top: 1px solid #ddd;
    pre {
      background: #fafafa;
      padding: 10px;
      border-radius: 6px;
    }
  }
}

.code-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid #e2e8f0;
  font-weight: 500;
}

.dropdown {
  background-color: #f1f5f9;
  color: #1e293b;
  border: 1px solid #e2e8f0;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.testcase {
  height: 160px;
  border-top: 1px solid #e2e8f0;
  padding: 14px;
  font-size: 14px;
  color: #64748b;
  background: #f8fafc;
}
